* {
    box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: #000;
  height: 100%;
}

body {
  background-image: url(./img/svg.svg);
  background-repeat: no-repeat;
}

nav {
    color: #e90b0b;
    display: flex;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    flex-direction: column;
  }
  
  ul{
    list-style: none;
  }
  
  li, a {
    display: inline-block;
    padding: 10px 10px;
    font-family: navFont;
    font-size: 25px;
    color:  #CCCCCC;
    text-decoration: none;
  }

  #burger-menu {
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
  }

  main {
    /*border: 2px solid tomato; */
    margin-top: 20%;
  }

  h2 {
    font-family: h2Font;
  }

  @font-face {
    font-family: h2Font;
    src: url(./fonts/TifannyGraniaDemoRegular.ttf);
  }
       
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000000;
    color: #fff;
  }

  @font-face {
    font-family: navFont;
    src: url(./fonts/Kugile_Demo.ttf);
  }

@media (max-width:600px) {

 li, a {
  color:#330000;
 }

 ul {
  align-items: center;
 }

 #nav-links {
  display: none;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  position: fixed; 
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav-links.active {
  display: flex;
}

main {
  margin-top: 30%;
}

main, h2 {
  text-align: center;
  margin-top: 30%;
  font-size: 40px;
  margin-bottom: -2%;
}

}

@media (min-width: 600px) {
  #burger-menu {
    display: none; 
  }

  #nav-links {
    display: flex; 
    flex-direction: row;
  }
}